body {
    margin: 0;
    padding: 0;
}

#map {
    height: 600px;
    width: 100%;
}

aside {
    height: 300px;
}

.subheading {
    padding: 10px; 
}

#subtitle {
    margin-bottom: 0px;
}

#search-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#past-aside {
    position: relative;
    bottom: 300px;
}