body {
  margin: 0;
  padding: 0;
}

#map {
  height: 600px;
  width: 100%;
}

aside {
  height: 300px;
}

.subheading {
  padding: 10px;
}

#subtitle {
  margin-bottom: 0px;
}

#search-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search-btn {
  background-color: darkblue;
  color: white;
}
#past-aside {
  position: relative;
  bottom: 300px;
}
/**styling the footer**/
.footer {
  width: 100%;
  padding: 2% 10%;
  background-color: darkblue;
  color: white;
}
