body {
  margin: 0;
  padding: 0;
}

/**styling the header**/

.navbar-item {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

.title {
  color: white;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

/**styling the main**/
main {
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 700px;
  width: 95%;
}

#map {
  height: 600px;
  width: 100%;
}

#result-card {
  height: 600px;
  width: 100%;
}

section h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2%;
  margin-bottom: 2%;
}

aside {
  height: 300px;
}

.subheading {
  padding: 5px;
}

#subtitle {
  border-bottom: 3px solid maroon;
  height: 50px;
  width: 90%;
  margin: 10px auto;
}

#search-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#country-title {
  font-weight: bold;
  margin-bottom: 2%;
  text-align: center;
}

#country-inp {
  height: 30px;
  width: 75%;
  border-radius: 5px;
}

#search-btn {
  background-color: hsl(217, 71%, 53%);
  color: white;
  margin-top: 2%;
  width: 75%;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 4px grey;
  height: 30px;
  font-size: 20px;
  transform: translate(-1px, -1px);
}

#search-btn:active {
  transform: translate(0, 0);
  box-shadow: 2px 2px 3px grey;
}

#past-aside {
  position: relative;
  bottom: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
}

#wiki-link {
  padding-top: 20px;
  font-weight: bolder;
}

.search-card {
  background-color: var(--banner);
  color: var(--mainfont);
  width: 75%;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

/**styling the footer**/
.footer {
  width: 100%;
  padding: 2% 10%;
  background-color: hsl(217, 71%, 53%);
  color: white;
  margin-top: 0px;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-subhead {
  padding-top: 40px;
  font-size: 1.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}